In [32]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from IPython.display import display
import seaborn as sns
sns.set()

#get the data from the computer, remember the path to get the data
df1_GDP = pd.read_excel(r"C:\Users\Jazmi\OneDrive\Documents\coding\Income_Life_pop\income_per_person_gdppercapita_ppp_inflation_adjusted.xlsx")
df2_Life_Exp = pd.read_excel(r"C:\Users\Jazmi\OneDrive\Documents\coding\Income_Life_pop\life_expectancy_years.xlsx")
df3_pop = pd.read_excel(r"C:\Users\Jazmi\OneDrive\Documents\coding\Income_Life_pop\population_total.xlsx")
df4_country_continent = pd.read_excel(r"C:\Users\Jazmi\OneDrive\Documents\coding\Income_Life_pop\Country_continent_by_Gapminder.xlsx", sheet_name= "country_continent")

#Lets see the Data!!

pd.set_option('display.max_columns',40)                    # modifying the data to only display 40 columns
pd.set_option('display.max_rows', 6)                       # modifyingg the data to only display 6 rows
print('Income per Person (GDP capital) Data')
display (df1_GDP)
print()                                                    #space
print('Life Expectancy')
display (df2_Life_Exp)
print ()
print ('Countries Population')
display (df3_pop)
print ()
print ('Contries and Continents')
display (df4_country_continent)

Income per Person (GDP capital) Data

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
0,Afghanistan,603,603,603,603,603,603,603,603,603,603,604,604,604,604,604,604,604,604,604,...,1850,1900,1970,2050,2140,2220,2290,2360,2430,2490,2550,2600,2660,2710,2770,2820,2880,2940,3000,3060
1,Albania,667,667,667,667,667,668,668,668,668,668,668,668,668,668,668,669,669,669,669,...,13800,14400,15000,15600,16200,16800,17400,18000,18500,18900,19400,19800,20200,20600,21000,21500,21900,22300,22800,23300
2,Algeria,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,...,14000,14000,13900,13800,13700,13700,13700,13800,13900,14100,14300,14600,14900,15200,15500,15800,16100,16500,16800,17100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Yemen,877,879,882,884,887,889,892,894,897,899,902,905,907,910,912,915,917,920,923,...,2580,2730,2840,2880,2920,2960,3010,3060,3110,3170,3230,3290,3360,3430,3500,3570,3640,3720,3790,3870
191,Zambia,663,665,667,668,670,671,673,675,676,678,680,681,683,684,686,688,689,691,693,...,3600,3560,3500,3450,3410,3380,3370,3380,3410,3450,3500,3560,3630,3700,3780,3860,3930,4010,4100,4180
192,Zimbabwe,869,870,871,872,873,874,875,876,877,878,879,880,881,883,884,885,886,887,888,...,2420,2430,2430,2440,2450,2460,2480,2500,2540,2580,2630,2680,2730,2780,2840,2900,2960,3020,3080,3140

Life Expectancy

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,...,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,28.1,28.1,28.1,28.1,28.1,28.1,28.1,28.1,28.0,28.0,...,75.1,75.2,75.4,75.5,75.6,75.8,75.9,76.0,76.2,76.3,76.5,76.6,76.7,76.9,77.0,77.1,77.3,77.4,77.5,77.7
1,Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,86.4,86.5,86.6,86.7,86.8,86.9,87.0,87.1,87.2,87.3,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.1,88.2,88.3
2,Algeria,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,...,87.2,87.3,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.2,88.3,88.4,88.5,88.6,88.7,88.8,88.9,89.0,89.1,89.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,Yemen,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,...,76.1,76.2,76.3,76.5,76.6,76.7,76.8,76.9,77.1,77.2,77.3,77.4,77.5,77.7,77.8,77.9,78.0,78.2,78.3,78.4
185,Zambia,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,...,75.4,75.5,75.7,75.8,76.0,76.1,76.3,76.4,76.5,76.7,76.8,77.0,77.1,77.3,77.4,77.6,77.7,77.8,78.0,78.1
186,Zimbabwe,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,...,73.2,73.3,73.4,73.6,73.7,73.8,73.9,74.1,74.2,74.3,74.5,74.6,74.7,74.8,75.0,75.1,75.3,75.4,75.5,75.7

Countries Population

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,...,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,...,76900000,77000000,77000000,77000000,77000000,77000000,76900000,76900000,76800000,76700000,76600000,76400000,76300000,76100000,76000000,75800000,75600000,75400000,75200000,74900000
1,Albania,400000,402000,404000,405000,407000,409000,411000,413000,414000,416000,418000,420000,422000,424000,426000,427000,429000,431000,433000,...,1630000,1600000,1570000,1540000,1510000,1480000,1450000,1420000,1390000,1360000,1330000,1300000,1270000,1250000,1220000,1190000,1170000,1140000,1110000,1090000
2,Algeria,2500000,2510000,2520000,2530000,2540000,2550000,2560000,2560000,2570000,2580000,2590000,2600000,2610000,2620000,2630000,2640000,2650000,2660000,2670000,...,69200000,69300000,69500000,69600000,69700000,69900000,70000000,70100000,70200000,70300000,70400000,70500000,70500000,70600000,70700000,70700000,70700000,70700000,70700000,70700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Yemen,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,...,55100000,55100000,55100000,55000000,55000000,54900000,54900000,54800000,54700000,54600000,54500000,54400000,54300000,54100000,54000000,53800000,53700000,53500000,53400000,53200000
193,Zambia,747000,758000,770000,782000,794000,806000,818000,831000,843000,856000,869000,883000,896000,910000,924000,938000,952000,967000,981000,...,65900000,66800000,67600000,68500000,69300000,70200000,71000000,71900000,72700000,73600000,74400000,75200000,76000000,76800000,77600000,78400000,79200000,80000000,80800000,81500000
194,Zimbabwe,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,...,30100000,30200000,30300000,30400000,30500000,30600000,30600000,30700000,30700000,30800000,30800000,30900000,30900000,30900000,30900000,30900000,31000000,31000000,31000000,31000000

Contries and Continents

,country,geo,four_regions,eight_regions,six_regions,members_oecd_g77,Latitude,Longitude,UN member since,World bank region,"World bank, 4 income groups 2017"
0,Afghanistan,afg,asia,asia_west,south_asia,g77,33.00000,66.00,1946-11-19,South Asia,Low income
1,Albania,alb,europe,europe_east,europe_central_asia,others,41.00000,20.00,1955-12-14,Europe & Central Asia,Upper middle income
2,Algeria,dza,africa,africa_north,middle_east_north_africa,g77,28.00000,3.00,1962-10-08,Middle East & North Africa,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...
194,Zambia,zmb,africa,africa_sub_saharan,sub_saharan_africa,g77,-14.33333,28.50,1964-12-01,Sub-Saharan Africa,Lower middle income
195,Zimbabwe,zwe,africa,africa_sub_saharan,sub_saharan_africa,g77,-19.00000,29.75,1980-08-25,Sub-Saharan Africa,Low income
196,South Sudan,ssd,africa,africa_sub_saharan,sub_saharan_africa,NaN,7.50000,30.00,2011-07-14,Sub-Saharan Africa,Low income

In [33]:
# you can also use .head to display the data
#DF.iloc[:,:20] to emulate .head(20) and DF.iloc[:,-20:] to emulate .tail(20)
#lets examine/see the data that we want to work with
def print_head_info (a, b, c, d):
    print( 'GDP_income_per_person_GDPcapital     head:     \n', a.iloc[:,:4],a.iloc[:,-4:]) # you can use this to specify how many columns you want to see
    print( 'Life_expectancy_years                head:     \n', b.head())
    print( 'Population_total                     head:     \n', c.head())
    print( 'Country_continent                    head:     \n', d.head())
    print()
    
print_head_info (df1_GDP, df2_Life_Exp, df3_pop, df4_country_continent)

GDP_income_per_person_GDPcapital     head:
          country  1800  1801  1802
0    Afghanistan   603   603   603
1        Albania   667   667   667
2        Algeria   715   716   717
..           ...   ...   ...   ...
190        Yemen   877   879   882
191       Zambia   663   665   667
192     Zimbabwe   869   870   871

[193 rows x 4 columns]       2037   2038   2039   2040
0     2880   2940   3000   3060
1    21900  22300  22800  23300
2    16100  16500  16800  17100
..     ...    ...    ...    ...
190   3640   3720   3790   3870
191   3930   4010   4100   4180
192   2960   3020   3080   3140

[193 rows x 4 columns]
Life_expectancy_years                head:
        country  1800  1801  1802  1803  1804  1805  1806  1807  1808  1809  \
0  Afghanistan  28.2  28.2  28.2  28.2  28.2  28.2  28.1  28.1  28.1  28.1
1      Albania  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4
2      Algeria  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8
3      Andorra   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4       Angola  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0

   1810  1811  1812  1813  1814  1815  1816  1817  1818  ...  2081  2082  \
0  28.1  28.1  28.1  28.1  28.1  28.1  28.1  28.0  28.0  ...  75.1  75.2
1  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  ...  86.4  86.5
2  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  ...  87.2  87.3
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN
4  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0  ...  77.5  77.6

   2083  2084  2085  2086  2087  2088  2089  2090  2091  2092  2093  2094  \
0  75.4  75.5  75.6  75.8  75.9  76.0  76.2  76.3  76.5  76.6  76.7  76.9
1  86.6  86.7  86.8  86.9  87.0  87.1  87.2  87.3  87.4  87.5  87.6  87.7
2  87.4  87.5  87.6  87.7  87.8  87.9  88.0  88.2  88.3  88.4  88.5  88.6
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  77.7  77.8  78.0  78.1  78.2  78.4  78.5  78.6  78.7  78.9  79.0  79.1

   2095  2096  2097  2098  2099  2100
0  77.0  77.1  77.3  77.4  77.5  77.7
1  87.8  87.9  88.0  88.1  88.2  88.3
2  88.7  88.8  88.9  89.0  89.1  89.2
3   NaN   NaN   NaN   NaN   NaN   NaN
4  79.3  79.4  79.5  79.7  79.8  79.9

[5 rows x 302 columns]
Population_total                     head:
        country     1800     1801     1802     1803     1804     1805     1806  \
0  Afghanistan  3280000  3280000  3280000  3280000  3280000  3280000  3280000
1      Albania   400000   402000   404000   405000   407000   409000   411000
2      Algeria  2500000  2510000  2520000  2530000  2540000  2550000  2560000
3      Andorra     2650     2650     2650     2650     2650     2650     2650
4       Angola  1570000  1570000  1570000  1570000  1570000  1570000  1570000

      1807     1808     1809     1810     1811     1812     1813     1814  \
0  3280000  3280000  3280000  3280000  3280000  3280000  3280000  3280000
1   413000   414000   416000   418000   420000   422000   424000   426000
2  2560000  2570000  2580000  2590000  2600000  2610000  2620000  2630000
3     2650     2650     2650     2650     2650     2650     2650     2650
4  1570000  1570000  1570000  1570000  1570000  1570000  1570000  1570000

      1815     1816     1817     1818  ...       2081       2082       2083  \
0  3280000  3280000  3280000  3280000  ...   76900000   77000000   77000000
1   427000   429000   431000   433000  ...    1630000    1600000    1570000
2  2640000  2650000  2660000  2670000  ...   69200000   69300000   69500000
3     2650     2650     2650     2650  ...      63900      63700      63600
4  1570000  1570000  1570000  1570000  ...  144000000  147000000  149000000

        2084       2085       2086       2087       2088       2089  \
0   77000000   77000000   77000000   76900000   76900000   76800000
1    1540000    1510000    1480000    1450000    1420000    1390000
2   69600000   69700000   69900000   70000000   70100000   70200000
3      63500      63400      63300      63300      63200      63100
4  151000000  154000000  156000000  158000000  161000000  163000000

        2090       2091       2092       2093       2094       2095  \
0   76700000   76600000   76400000   76300000   76100000   76000000
1    1360000    1330000    1300000    1270000    1250000    1220000
2   70300000   70400000   70500000   70500000   70600000   70700000
3      63100      63000      62900      62900      62800      62700
4  165000000  168000000  170000000  172000000  175000000  177000000

        2096       2097       2098       2099       2100
0   75800000   75600000   75400000   75200000   74900000
1    1190000    1170000    1140000    1110000    1090000
2   70700000   70700000   70700000   70700000   70700000
3      62700      62600      62500      62500      62400
4  179000000  182000000  184000000  186000000  188000000

[5 rows x 302 columns]
Country_continent                    head:
        country  geo four_regions       eight_regions  \
0  Afghanistan  afg         asia           asia_west
1      Albania  alb       europe         europe_east
2      Algeria  dza       africa        africa_north
3      Andorra  and       europe         europe_west
4       Angola  ago       africa  africa_sub_saharan

                six_regions members_oecd_g77  Latitude  Longitude  \
0                south_asia              g77  33.00000   66.00000
1       europe_central_asia           others  41.00000   20.00000
2  middle_east_north_africa              g77  28.00000    3.00000
3       europe_central_asia           others  42.50779    1.52109
4        sub_saharan_africa              g77 -12.50000   18.50000

  UN member since           World bank region World bank, 4 income groups 2017
0      1946-11-19                  South Asia                       Low income
1      1955-12-14       Europe & Central Asia              Upper middle income
2      1962-10-08  Middle East & North Africa              Upper middle income
3      1993-07-28       Europe & Central Asia                      High income
4      1976-12-01          Sub-Saharan Africa              Lower middle income

In [30]:
#get number of rows and columns for each df
def print_shape(a, b, c, d):
    print('GDP_income_per_person_GDPcapital       shape:   ', a.shape)
    print('Life_expectancy_years                  shape:   ', b.shape)
    print('Population_total                       shape:   ', c.shape)
    print('Country_continent                      shape:   ', d.shape)
    print()

print_shape(df1_GDP, df2_Life_Exp, df3_pop, df4_country_continent)

#below you can see that each data do not have the same lenght

GDP_income_per_person_GDPcapital       shape:    (193, 242)
Life_expectancy_years                  shape:    (187, 302)
Population_total                       shape:    (195, 302)
Country_continent                      shape:    (197, 11)

In [34]:
# If you want to count the missing values in each column, try: df.isnull().sum() or df.isnull().sum(axis=0)
# On the other hand, if you want to count in each row you can do it by: df.isnull().sum(axis=1)

# get the number of missing data in each columns, 0 represents columns 1 indexes
print('Missing data in each column:')
print (df4_country_continent.isnull().sum(axis = 0))
print()

#get the number of missing data in each index (rows)
print ('Missing data in each Rows:')
print()
print (df4_country_continent.isnull().sum(axis = 1))
print ()

#get total sum of all of the NaN in the data
print('Total Missing data (cells) in the df')
print (df4_country_continent.isnull().sum().sum())

Missing data in each column:
country                             0
geo                                 0
four_regions                        0
                                   ..
UN member since                     4
World bank region                   1
World bank, 4 income groups 2017    1
Length: 11, dtype: int64

Missing data in each Rows:

0      0
1      0
2      0
      ..
194    0
195    0
196    1
Length: 197, dtype: int64

Total Missing data (cells) in the df
7