Goal: Create a new dataframe from four similar dataframe and then create a graph
Step 1: Inspect the data. 
Step 2: Clean data from NaN.
step 3: Modify each df to have the same lenghts and information in Colomn 1 (Country)

In [223]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from IPython.display import display
import seaborn as sns
sns.set()

#get the data from the computer, remember the path to get the data
df1_GDP = pd.read_excel(r"C:\Users\Jazmi\OneDrive\Documents\coding\Income_Life_pop\income_per_person_gdppercapita_ppp_inflation_adjusted.xlsx")
df2_Life_Exp = pd.read_excel(r"C:\Users\Jazmi\OneDrive\Documents\coding\Income_Life_pop\life_expectancy_years.xlsx")
df3_pop = pd.read_excel(r"C:\Users\Jazmi\OneDrive\Documents\coding\Income_Life_pop\population_total.xlsx")
df4_country_continent = pd.read_excel(r"C:\Users\Jazmi\OneDrive\Documents\coding\Income_Life_pop\Country_continent_by_Gapminder.xlsx", sheet_name= "country_continent")

#Lets see the Data!!

pd.set_option('display.max_columns',40)                    # modifying the data to only display 40 columns
pd.set_option('display.max_rows', 6)                       # modifyingg the data to only display 6 rows
print('Income per Person (GDP capital) Data')
display (df1_GDP)
print()                                                    #space
print('Life Expectancy')
display (df2_Life_Exp)
print ()
print ('Countries Population')
display (df3_pop)
print ()
print ('Contries and Continents')
display (df4_country_continent)

Income per Person (GDP capital) Data

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
0,Afghanistan,603,603,603,603,603,603,603,603,603,603,604,604,604,604,604,604,604,604,604,...,1850,1900,1970,2050,2140,2220,2290,2360,2430,2490,2550,2600,2660,2710,2770,2820,2880,2940,3000,3060
1,Albania,667,667,667,667,667,668,668,668,668,668,668,668,668,668,668,669,669,669,669,...,13800,14400,15000,15600,16200,16800,17400,18000,18500,18900,19400,19800,20200,20600,21000,21500,21900,22300,22800,23300
2,Algeria,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,...,14000,14000,13900,13800,13700,13700,13700,13800,13900,14100,14300,14600,14900,15200,15500,15800,16100,16500,16800,17100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Yemen,877,879,882,884,887,889,892,894,897,899,902,905,907,910,912,915,917,920,923,...,2580,2730,2840,2880,2920,2960,3010,3060,3110,3170,3230,3290,3360,3430,3500,3570,3640,3720,3790,3870
191,Zambia,663,665,667,668,670,671,673,675,676,678,680,681,683,684,686,688,689,691,693,...,3600,3560,3500,3450,3410,3380,3370,3380,3410,3450,3500,3560,3630,3700,3780,3860,3930,4010,4100,4180
192,Zimbabwe,869,870,871,872,873,874,875,876,877,878,879,880,881,883,884,885,886,887,888,...,2420,2430,2430,2440,2450,2460,2480,2500,2540,2580,2630,2680,2730,2780,2840,2900,2960,3020,3080,3140

Life Expectancy

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,...,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,28.1,28.1,28.1,28.1,28.1,28.1,28.1,28.1,28.0,28.0,...,75.1,75.2,75.4,75.5,75.6,75.8,75.9,76.0,76.2,76.3,76.5,76.6,76.7,76.9,77.0,77.1,77.3,77.4,77.5,77.7
1,Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,86.4,86.5,86.6,86.7,86.8,86.9,87.0,87.1,87.2,87.3,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.1,88.2,88.3
2,Algeria,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,...,87.2,87.3,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.2,88.3,88.4,88.5,88.6,88.7,88.8,88.9,89.0,89.1,89.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,Yemen,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,...,76.1,76.2,76.3,76.5,76.6,76.7,76.8,76.9,77.1,77.2,77.3,77.4,77.5,77.7,77.8,77.9,78.0,78.2,78.3,78.4
185,Zambia,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,...,75.4,75.5,75.7,75.8,76.0,76.1,76.3,76.4,76.5,76.7,76.8,77.0,77.1,77.3,77.4,77.6,77.7,77.8,78.0,78.1
186,Zimbabwe,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,...,73.2,73.3,73.4,73.6,73.7,73.8,73.9,74.1,74.2,74.3,74.5,74.6,74.7,74.8,75.0,75.1,75.3,75.4,75.5,75.7

Countries Population

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,...,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,...,76900000,77000000,77000000,77000000,77000000,77000000,76900000,76900000,76800000,76700000,76600000,76400000,76300000,76100000,76000000,75800000,75600000,75400000,75200000,74900000
1,Albania,400000,402000,404000,405000,407000,409000,411000,413000,414000,416000,418000,420000,422000,424000,426000,427000,429000,431000,433000,...,1630000,1600000,1570000,1540000,1510000,1480000,1450000,1420000,1390000,1360000,1330000,1300000,1270000,1250000,1220000,1190000,1170000,1140000,1110000,1090000
2,Algeria,2500000,2510000,2520000,2530000,2540000,2550000,2560000,2560000,2570000,2580000,2590000,2600000,2610000,2620000,2630000,2640000,2650000,2660000,2670000,...,69200000,69300000,69500000,69600000,69700000,69900000,70000000,70100000,70200000,70300000,70400000,70500000,70500000,70600000,70700000,70700000,70700000,70700000,70700000,70700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Yemen,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,2590000,...,55100000,55100000,55100000,55000000,55000000,54900000,54900000,54800000,54700000,54600000,54500000,54400000,54300000,54100000,54000000,53800000,53700000,53500000,53400000,53200000
193,Zambia,747000,758000,770000,782000,794000,806000,818000,831000,843000,856000,869000,883000,896000,910000,924000,938000,952000,967000,981000,...,65900000,66800000,67600000,68500000,69300000,70200000,71000000,71900000,72700000,73600000,74400000,75200000,76000000,76800000,77600000,78400000,79200000,80000000,80800000,81500000
194,Zimbabwe,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,1090000,...,30100000,30200000,30300000,30400000,30500000,30600000,30600000,30700000,30700000,30800000,30800000,30900000,30900000,30900000,30900000,30900000,31000000,31000000,31000000,31000000

Contries and Continents

,country,geo,four_regions,eight_regions,six_regions,members_oecd_g77,Latitude,Longitude,UN member since,World bank region,"World bank, 4 income groups 2017"
0,Afghanistan,afg,asia,asia_west,south_asia,g77,33.00000,66.00,1946-11-19,South Asia,Low income
1,Albania,alb,europe,europe_east,europe_central_asia,others,41.00000,20.00,1955-12-14,Europe & Central Asia,Upper middle income
2,Algeria,dza,africa,africa_north,middle_east_north_africa,g77,28.00000,3.00,1962-10-08,Middle East & North Africa,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...
194,Zambia,zmb,africa,africa_sub_saharan,sub_saharan_africa,g77,-14.33333,28.50,1964-12-01,Sub-Saharan Africa,Lower middle income
195,Zimbabwe,zwe,africa,africa_sub_saharan,sub_saharan_africa,g77,-19.00000,29.75,1980-08-25,Sub-Saharan Africa,Low income
196,South Sudan,ssd,africa,africa_sub_saharan,sub_saharan_africa,NaN,7.50000,30.00,2011-07-14,Sub-Saharan Africa,Low income

In [224]:
# you can also use .head to display the data
#DF.iloc[:,:20] to emulate .head(20) and DF.iloc[:,-20:] to emulate .tail(20)
#lets examine/see the data that we want to work with
def print_head_info (a, b):
    print( 'GDP_income_per_person_GDPcapital     head:     \n', a.iloc[:,:4],a.iloc[:,-4:]) # you can use this to specify how many columns you want to see
    print( 'Life_expectancy_years                head:     \n', b.head())
    print()
    
print_head_info(df1_GDP, df2_Life_Exp)

GDP_income_per_person_GDPcapital     head:
          country  1800  1801  1802
0    Afghanistan   603   603   603
1        Albania   667   667   667
2        Algeria   715   716   717
..           ...   ...   ...   ...
190        Yemen   877   879   882
191       Zambia   663   665   667
192     Zimbabwe   869   870   871

[193 rows x 4 columns]       2037   2038   2039   2040
0     2880   2940   3000   3060
1    21900  22300  22800  23300
2    16100  16500  16800  17100
..     ...    ...    ...    ...
190   3640   3720   3790   3870
191   3930   4010   4100   4180
192   2960   3020   3080   3140

[193 rows x 4 columns]
Life_expectancy_years                head:
        country  1800  1801  1802  1803  1804  1805  1806  1807  1808  1809  \
0  Afghanistan  28.2  28.2  28.2  28.2  28.2  28.2  28.1  28.1  28.1  28.1
1      Albania  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4
2      Algeria  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8
3      Andorra   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4       Angola  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0

   1810  1811  1812  1813  1814  1815  1816  1817  1818  ...  2081  2082  \
0  28.1  28.1  28.1  28.1  28.1  28.1  28.1  28.0  28.0  ...  75.1  75.2
1  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  ...  86.4  86.5
2  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  ...  87.2  87.3
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN
4  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0  ...  77.5  77.6

   2083  2084  2085  2086  2087  2088  2089  2090  2091  2092  2093  2094  \
0  75.4  75.5  75.6  75.8  75.9  76.0  76.2  76.3  76.5  76.6  76.7  76.9
1  86.6  86.7  86.8  86.9  87.0  87.1  87.2  87.3  87.4  87.5  87.6  87.7
2  87.4  87.5  87.6  87.7  87.8  87.9  88.0  88.2  88.3  88.4  88.5  88.6
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  77.7  77.8  78.0  78.1  78.2  78.4  78.5  78.6  78.7  78.9  79.0  79.1

   2095  2096  2097  2098  2099  2100
0  77.0  77.1  77.3  77.4  77.5  77.7
1  87.8  87.9  88.0  88.1  88.2  88.3
2  88.7  88.8  88.9  89.0  89.1  89.2
3   NaN   NaN   NaN   NaN   NaN   NaN
4  79.3  79.4  79.5  79.7  79.8  79.9

[5 rows x 302 columns]

In [225]:
#get number of rows and columns for each df
def print_shape(a, b, c, d):
    print('GDP_income_per_person_GDPcapital       shape:   ', a.shape)
    print('Life_expectancy_years                  shape:   ', b.shape)
    print('Population_total                       shape:   ', c.shape)
    print('Country_continent                      shape:   ', d.shape)
    print()

print_shape(df1_GDP, df2_Life_Exp, df3_pop, df4_country_continent)

#below you can see that each data do not have the same lenghts related to rows and columns

GDP_income_per_person_GDPcapital       shape:    (193, 242)
Life_expectancy_years                  shape:    (187, 302)
Population_total                       shape:    (195, 302)
Country_continent                      shape:    (197, 11)

In [226]:
# Lets see if there is any NaN in the data
def print_if_nan(a, b, c, d):
    print( 'GDP_income_per_person_GDPcapital     NaN:      ', a.isnull().values.any())
    print( 'Life_expectancy_years                NaN:      ', b.isnull().values.any())
    print( 'Population_total                     NaN:      ', c.isnull().values.any())
    print( 'Country_continent                    NaN:      ', d.isnull().values.any())
    print()
    
print_if_nan(df1_GDP, df2_Life_Exp, df3_pop,df4_country_continent)
#as you can see below life expectancy and contry_continent have NaN (missing data)

GDP_income_per_person_GDPcapital     NaN:       False
Life_expectancy_years                NaN:       True
Population_total                     NaN:       False
Country_continent                    NaN:       True

In [227]:
# If you want to count the missing values in each column, try: df.isnull().sum() or df.isnull().sum(axis=0)
# On the other hand, if you want to count in each row you can do it by: df.isnull().sum(axis=1)

# get the number of missing data in each columns, 0 represents columns 1 indexes
print('Missing data in each column:')
print (df4_country_continent.isnull().sum(axis = 0))
print()

#get the number of missing data in each index (rows)
print ('Missing data in each Rows:')
print()
print (df4_country_continent.isnull().sum(axis = 1))
print ()

#get total sum of all of the NaN in the data
print('Total Missing data (cells) in the df')
print (df4_country_continent.isnull().sum().sum())

Missing data in each column:
country                             0
geo                                 0
four_regions                        0
                                   ..
UN member since                     4
World bank region                   1
World bank, 4 income groups 2017    1
Length: 11, dtype: int64

Missing data in each Rows:

0      0
1      0
2      0
      ..
194    0
195    0
196    1
Length: 197, dtype: int64

Total Missing data (cells) in the df
7

In [228]:
#lets do it for each dataframe for the rows
def print_count_Nan (a, b, c,d):
    print( 'GDP_income_per_person_GDPcapital     NaN:      ', a.isnull().sum(axis = 0))
    print( 'Life_expectancy_years                NaN:      ', b.isnull().sum(axis = 0))
    print( 'Population_total                     NaN:      ', c.isnull().sum(axis = 0))
    print( 'Country_continent                    NaN:      ', d.isnull().sum(axis = 0))
    print()
print_count_Nan (df1_GDP, df2_Life_Exp, df3_pop, df4_country_continent)

GDP_income_per_person_GDPcapital     NaN:       country    0
1800       0
1801       0
          ..
2038       0
2039       0
2040       0
Length: 242, dtype: int64
Life_expectancy_years                NaN:       country    0
1800       3
1801       3
          ..
2098       3
2099       3
2100       3
Length: 302, dtype: int64
Population_total                     NaN:       country    0
1800       0
1801       0
          ..
2098       0
2099       0
2100       0
Length: 302, dtype: int64
Country_continent                    NaN:       country                             0
geo                                 0
four_regions                        0
                                   ..
UN member since                     4
World bank region                   1
World bank, 4 income groups 2017    1
Length: 11, dtype: int64

In [229]:

print_if_nan(df1_GDP, df2_Life_Exp, df3_pop,df4_country_continent)

def df_dropnan_fix_index (data1):
    if data1.isnull().values.any() == True:
        df1 = data1.dropna()                               #after dropping the NaN (which drops the rows) the indexes are wrong
        df1 = df1.reset_index (drop = True)                # we need to fix the indexes 
        print ('NaN dropped and Index resetted: Data Fixed')
        return df1

    else:
        print ("No NaN, No drop data, No reset index ")
        data1 = data1
        return data1

print_if_nan(df1_GDP, df2_Life_Exp, df3_pop,df4_country_continent)

def print_drop_idx_info (a, b, c, d):
    print( 'GDP_income_per_person_GDPcapital     index and NaN:   ', df_dropnan_fix_index(a))
    print( 'Life_expectancy_years                index and NaN:   ', df_dropnan_fix_index(b))
    print( 'Population_total                     index and NaN:   ', df_dropnan_fix_index(c))
    print( 'Country_continent                    index and NaN:   ', df_dropnan_fix_index(d))
    print()


print_if_nan(df1_GDP, df2_Life_Exp, df3_pop,df4_country_continent)

GDP_income_per_person_GDPcapital     NaN:       False
Life_expectancy_years                NaN:       True
Population_total                     NaN:       False
Country_continent                    NaN:       True

GDP_income_per_person_GDPcapital     NaN:       False
Life_expectancy_years                NaN:       True
Population_total                     NaN:       False
Country_continent                    NaN:       True

GDP_income_per_person_GDPcapital     NaN:       False
Life_expectancy_years                NaN:       True
Population_total                     NaN:       False
Country_continent                    NaN:       True

In [230]:
#the dataframe have empty cells (NaN). Lets delete empty cells. Lets get rid of the Missing Data!!

#There are many limitations with this funtions, it drops data as soon as one NaN appears 
#there is not a threshold for NaN I will do another funtions to replace NaN with the mean 
# or to drop data only if more than 5 NaN (but not now)

def df_dropnan_fix_index (data1):
    if data1.isnull().values.any() == True:
        df1 = data1.dropna()                               #after dropping the NaN (which drops the rows) the indexes are wrong
        df1 = df1.reset_index (drop = True)                # we need to fix the indexes 
        print ('NaN dropped and Index resetted: Data Fixed')
        return df1

    else:
        print ("No NaN, No drop data, No reset index ")
        data1 = data1
        return data1
    
# you can do this to drop NaN  and only fix indexs if NaN is dropped for each df or create another function
#let us see if the function works
def print_drop_idx_info (a, b, c, d):
    print( 'GDP_income_per_person_GDPcapital     index and NaN:   ', df_dropnan_fix_index(a))
    print( 'Life_expectancy_years                index and NaN:   ', df_dropnan_fix_index(b))
    print( 'Population_total                     index and NaN:   ', df_dropnan_fix_index(c))
    print( 'Country_continent                    index and NaN:   ', df_dropnan_fix_index(d))
    print()

# print_drop_idx_info(df1_GDP,df2_Life_Exp, df3_pop, df4_country_continent), this print too much data

#lets check if there is NaN in the data now!

df1_GDP = df_dropnan_fix_index (df1_GDP)            #lets assign new variables with the new data that does not have NaN
df2_Life_Exp = df_dropnan_fix_index(df2_Life_Exp)
df3_pop = df_dropnan_fix_index (df3_pop)
df4_country_continent = df_dropnan_fix_index (df4_country_continent)

print()

print_if_nan(df1_GDP, df2_Life_Exp, df3_pop,df4_country_continent)
print_shape(df1_GDP, df2_Life_Exp, df3_pop, df4_country_continent)

No NaN, No drop data, No reset index
NaN dropped and Index resetted: Data Fixed
No NaN, No drop data, No reset index
NaN dropped and Index resetted: Data Fixed

GDP_income_per_person_GDPcapital     NaN:       False
Life_expectancy_years                NaN:       False
Population_total                     NaN:       False
Country_continent                    NaN:       False

GDP_income_per_person_GDPcapital       shape:    (193, 242)
Life_expectancy_years                  shape:    (184, 302)
Population_total                       shape:    (195, 302)
Country_continent                      shape:    (192, 11)

In [231]:
# I need the same rows for all the four data. Create a function. As you saw with .shapes the rows do not have the name lenghts
# meaning that some dataframe has more countries than the other or other dataframes are missing countries

#lets see what each dataframe have in common related to country
def match_list(list1, list2):        #create a functions that get the same row information from two dataframe

    """
    :param list1: argument list 1
    :param list2: argument list 2
    :Description: This function takes two list and return one list with the values that are present in both list
    :return: list of data that are present in both input list
    """
#create a if loop that inspect the data and return the data that is present in both files    
#     if len(list1) == len(list2):
#         print ("Both lists are equal lenghts")
#         return None
        
    if len(list1) > len(list2):
        list1 = [item for item in list1 if item in list2]  # create a 'new' list with item that are present in both data (list)
        return list1
    else:
        list2 = [item for item in list2 if item in list1]
        return list2
    

# the function of match_list only works with list


#get the data that is equal in the dataframe (not modification have been done). Just tell the info that is the same
#Use list() to convert the series into list

print('ROWS THAT ARE THE SAME IN GDP and LIFE Expectancy In the COLUMN COUNTRY [0]')
print ()

#use the new funtion match_list(data1, data2) to get the data present, test if the function is working

keys_test = match_list(list(df1_GDP.iloc[:, 0]), list(df2_Life_Exp.iloc[:, 0])) 
if keys_test == None:
    print ('None')
print(len(keys_test), sep = ' ')

ROWS THAT ARE THE SAME IN GDP and LIFE Expectancy In the COLUMN COUNTRY [0]

184

Now that we know the information that is the same in both of these dataframe we need to modify both dataframe

In [232]:
def match_df_pair(df1, df2):    # create a functions to get dataframe matching data now
    """
    :param df1:                   
    :param df2:
    :return:
    """
 # get the data that is present in both list (: all rows,  from column "0")    
    match_values = match_list(list(df1.iloc[:, 0]), list(df2.iloc[:, 0]))  #create match values

#print('len df1: ', len(df1.columns)) to print column info (optional). 
    if len(df1.index) > len(df2.index):            # compare the length of the rows for each dataframe see which one is >
        key = df1.keys()[0]                        #   data.keys() is a function that give you the name of the column in this case I want keys (name) of column '0'                                                   
        df1 = df1[df1[key].isin(match_values)]     # create a new dataframe which only has the column (key) that is present in both data. use .isin (match_value)
        return df1, df2                            # .isin () is a function that checks if the values from df1[df1[key] are present in match values(its a list)
    else:
        key = df2.keys()[0]
        df2 = df2[df2[key].isin(match_values)]     # df2[df2[key]] give you all the rows related to column 'key'
        return df1, df2                            # return both df igual

df1, df2 = match_df_pair(df1_GDP, df2_Life_Exp)    #use the function to create two dataframe variables
df2, df3 = match_df_pair(df2_Life_Exp, df3_pop)
df2, df4 = match_df_pair(df2_Life_Exp, df4_country_continent)

print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)

# below you will see that df1 (GDP), df2 (life Exp) and df3 (population) were modified
# and have the same rows lenght (same country)
#however, df4 (does not).

(184, 242)
(184, 302)
(184, 302)
(181, 11)

match_df_pair(df1, df2): is a function that only get common data, the union of df1, df2 and df3. 
I need the interception of A ∩ B ∩ C	Intersection: in both A and B and C (The assumption is that A is a subset of B). The assumption is good for df1, df2, df3. However, data A is not a subset of df4

The function checks for the length of the biggest array and drops the elements that are not part of hte smaller list. This is based on assumption that the bigger list contain all contries present in the smallest list.

A problem arises, when a list is bigger than the smallerst list, but the bigger list does not contains all countries in the smallest list. In other words, the smallest list is not a subset of the biggest list. A - B (difference) in A but not in B, which is the case for df4 compared with df2.

In [233]:
def drop_mismatch (data1, data2):
    for item in list (data1.iloc[:, 0]):                  #test if there is mismatch information in the column 0 "country"
        if item not in list(data2.iloc[:, 0]):
            print('Mismatch: ', item)                     #data = data.drop([0,1,2], axis=0)
            print(data1[data1[data1.keys()[0]] == item].index[0]) #get the index loc of the mismatch information
            index = data1[data1[data1.keys()[0]] == item].index[0] #this funtion get the index values of mismatch
            data1 = data1.drop([index])                            #drop the item that is mismatch 
    return data1


# df1, df2, and df3 have the same mismatch item if they are compared to df4, look below
# with the functions the items that are not the same in df4 compared to df1, df2 and df3 are dropped
df1 = drop_mismatch(df1, df4)

df2 = drop_mismatch(df2, df4)

df3 = drop_mismatch(df3, df4)

#check the data
print()
print ('Check the rows to see if the four df have equal lengths rows')
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)

Mismatch:  North Macedonia
125
Mismatch:  Palestine
130
Mismatch:  South Sudan
157
Mismatch:  North Macedonia
120
Mismatch:  Palestine
124
Mismatch:  South Sudan
150
Mismatch:  North Macedonia
127
Mismatch:  Palestine
132
Mismatch:  South Sudan
159

Check the rows to see if the four df have equal lengths rows
(181, 242)
(181, 302)
(181, 302)
(181, 11)

In [234]:
#check is the rows are the same
#another test, test (==) if df1 (new df) column 0 and all rows : are equal to df2 (new data)
if len(list(df1.iloc[:, 0])) == len(list(df2.iloc[:, 0])) and len(list(df2.iloc[:, 0])) == len(list(df3.iloc[:,0])) and len(list(df3.iloc[:,0])) == len(list(df4.iloc[:,0])):                                               
    print('Dfs have the Lengths')
else:
    print('Dfs don\'t have the same Lengths')
    
#data_all = (df1, df2, df3, df4)

def df_match (*data_sequence):
    flag = 0
    for data in data_sequence:
        for item in list(data.iloc[:, 0]):     #test if there is mismatch information in the column 0 "country"
            if item not in list(data.iloc[:, 0]):
                flag=1
                print('Mismatch: ', item)                     #data = data.drop([0,1,2], axis=0)
                print(data[data[data.keys()[0]] == item].index[0]) #get the index loc of the mismatch information
                
                
    if flag == 1:
        print('at least one item not equal')
    else:
        print('all items are equal, thus contries are the Same')
        
df_match(df1, df2, df3,df4)

Dfs have the Lengths
all items are equal, thus contries are the Same

In [235]:
#lets print the data to see it using .head()
print('GDP')
print(df1)
print()
print ('Life Expectancy')
print(df2)

#below you see that the data have 181 rows however the indexes are not up to 181, 
#the indexes are jumping (which is the case for all the dfs after dropping the the mismatch rows)
#the df have 181 rows however GDP indexes goes all the way to 192
#Life expentancy have 181 rows but the indexes go all the way to 183

GDP
         country  1800  1801  1802  1803  1804  1805  1806  1807  1808  1809  \
0    Afghanistan   603   603   603   603   603   603   603   603   603   603
1        Albania   667   667   667   667   667   668   668   668   668   668
2        Algeria   715   716   717   718   719   720   721   722   723   724
..           ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
190        Yemen   877   879   882   884   887   889   892   894   897   899
191       Zambia   663   665   667   668   670   671   673   675   676   678
192     Zimbabwe   869   870   871   872   873   874   875   876   877   878

     1810  1811  1812  1813  1814  1815  1816  1817  1818  ...   2021   2022  \
0     604   604   604   604   604   604   604   604   604  ...   1850   1900
1     668   668   668   668   668   669   669   669   669  ...  13800  14400
2     725   726   727   728   729   730   731   732   733  ...  14000  14000
..    ...   ...   ...   ...   ...   ...   ...   ...   ...  ...    ...    ...
190   902   905   907   910   912   915   917   920   923  ...   2580   2730
191   680   681   683   684   686   688   689   691   693  ...   3600   3560
192   879   880   881   883   884   885   886   887   888  ...   2420   2430

      2023   2024   2025   2026   2027   2028   2029   2030   2031   2032  \
0     1970   2050   2140   2220   2290   2360   2430   2490   2550   2600
1    15000  15600  16200  16800  17400  18000  18500  18900  19400  19800
2    13900  13800  13700  13700  13700  13800  13900  14100  14300  14600
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
190   2840   2880   2920   2960   3010   3060   3110   3170   3230   3290
191   3500   3450   3410   3380   3370   3380   3410   3450   3500   3560
192   2430   2440   2450   2460   2480   2500   2540   2580   2630   2680

      2033   2034   2035   2036   2037   2038   2039   2040
0     2660   2710   2770   2820   2880   2940   3000   3060
1    20200  20600  21000  21500  21900  22300  22800  23300
2    14900  15200  15500  15800  16100  16500  16800  17100
..     ...    ...    ...    ...    ...    ...    ...    ...
190   3360   3430   3500   3570   3640   3720   3790   3870
191   3630   3700   3780   3860   3930   4010   4100   4180
192   2730   2780   2840   2900   2960   3020   3080   3140

[181 rows x 242 columns]

Life Expectancy
         country  1800  1801  1802  1803  1804  1805  1806  1807  1808  1809  \
0    Afghanistan  28.2  28.2  28.2  28.2  28.2  28.2  28.1  28.1  28.1  28.1
1        Albania  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4
2        Algeria  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8
..           ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
181        Yemen  23.4  23.4  23.4  23.4  23.4  23.4  23.4  23.4  23.4  23.4
182       Zambia  32.6  32.6  32.6  32.6  32.6  32.6  32.6  32.6  32.6  32.6
183     Zimbabwe  33.7  33.7  33.7  33.7  33.7  33.7  33.7  33.7  33.7  33.7

     1810  1811  1812  1813  1814  1815  1816  1817  1818  ...  2081  2082  \
0    28.1  28.1  28.1  28.1  28.1  28.1  28.1  28.0  28.0  ...  75.1  75.2
1    35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  ...  86.4  86.5
2    28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  28.8  ...  87.2  87.3
..    ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...   ...
181  23.4  23.4  23.4  23.4  23.4  23.4  23.4  23.4  23.4  ...  76.1  76.2
182  32.6  32.6  32.6  32.6  32.6  32.6  32.6  32.6  32.6  ...  75.4  75.5
183  33.7  33.7  33.7  33.7  33.7  33.7  33.7  33.7  33.7  ...  73.2  73.3

     2083  2084  2085  2086  2087  2088  2089  2090  2091  2092  2093  2094  \
0    75.4  75.5  75.6  75.8  75.9  76.0  76.2  76.3  76.5  76.6  76.7  76.9
1    86.6  86.7  86.8  86.9  87.0  87.1  87.2  87.3  87.4  87.5  87.6  87.7
2    87.4  87.5  87.6  87.7  87.8  87.9  88.0  88.2  88.3  88.4  88.5  88.6
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
181  76.3  76.5  76.6  76.7  76.8  76.9  77.1  77.2  77.3  77.4  77.5  77.7
182  75.7  75.8  76.0  76.1  76.3  76.4  76.5  76.7  76.8  77.0  77.1  77.3
183  73.4  73.6  73.7  73.8  73.9  74.1  74.2  74.3  74.5  74.6  74.7  74.8

     2095  2096  2097  2098  2099  2100
0    77.0  77.1  77.3  77.4  77.5  77.7
1    87.8  87.9  88.0  88.1  88.2  88.3
2    88.7  88.8  88.9  89.0  89.1  89.2
..    ...   ...   ...   ...   ...   ...
181  77.8  77.9  78.0  78.2  78.3  78.4
182  77.4  77.6  77.7  77.8  78.0  78.1
183  75.0  75.1  75.3  75.4  75.5  75.7

[181 rows x 302 columns]